/* all styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --pink: #f564a9ff;
    --dark: #251605;
    --orange: #BBBE64;
    --dark-blue: #643173ff;
    --yellow: #fde74cff;
}
body{
    display: flex;
    flex-direction: column;

}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section 1 */

.fill-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
}
.button-1{
    border-radius: 1rem;
    background-color: var(--yellow);
    height: 80px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}
.button-1:hover {
    background-color: var(--orange);
}
.button-text-1{
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* section 2 */

.fill-2{
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    position: relative;
}
.square-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background-color: var(--pink);
}
.slider-2{
    appearance: none;
    -webkit-appearance: none;
    width: 500px;
    height: 10px;
    border-radius: 5px;  
    background: var(--dark-blue);
    outline: none;
}
.slider-2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: var(--dark-blue);
    cursor: pointer;
  }
  .slider-2::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--dark-blue);
    cursor: pointer;
  }
  .width-2 {
    position: absolute;
    top: calc(50% + 325px);
    left: 50%;
    transform: translateX(-50%);
  }
  .height-2{
    position: absolute;
    top: 50%;
    left: calc(50% - 325px);
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  /* section 3 */

  .fill-3{
    width: 100%;
    height: 100%;
    background-color: var(--pink);
    position: relative;
  }
  .display-3{
    position: absolute;
    top: 25%;
    left: 50%;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(-50%, -50%);
    color: var(--yellow);
  }
  .main-button-3{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: var(--yellow);
    color: var(--dark-blue);
    height: 80px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .main-button-3:hover{
    background-color: var(--orange);
  }
  .buttons-wraper-3{
    position: absolute;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .button-wraper-3{
    width: 360px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    user-select: none;
  }
  .button-wraper-3-on{
    opacity: 1;
    user-select: auto;
  }
  .multiplier-3{
    height: 80px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--yellow);
  }
  .multiplier-3-on::after{
    content: "x";
  }
.button-3{
    border-radius: 1rem;
    background-color: var(--yellow);
    color: var(--dark-blue);
    height: 80px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-3:hover{
    background-color: var(--orange);
}
.price-3{
    height: 80px;
    width: 60px;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--yellow);
}

/* section 4 */

.fill-4{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: var(--dark);
}
.button-4{
    border-radius: 1rem;
    background-color: var(--dark-blue);
    color: var(--yellow);
    height: 80px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
}
.button-4:hover{
  background-color: var(--pink  );
}
.shape-4{
  width: 500px;
  height: 500px;
  background-color: var(--pink);
}

/* section 5 */

.fill-5{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--yellow);
}
.square-5{
  width: 500px;
  height: 500px;
  background-color: rgb(127, 127, 127);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}
.display-5{
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: var(--dark-blue);
}
.slider-wraper-5{
  height: 500px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.slider-5{
  appearance: none;
  -webkit-appearance: none;
  width: 500px;
  height: 10px;
  border-radius: 5px;  
  background: var(--dark-blue);
  outline: none;
}
.slider-5::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: var(--dark-blue);
  cursor: pointer;
}
.slider-5::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--dark-blue);
  cursor: pointer;
}

/* section 6 */

.fill-6{
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  position: relative;
}
.div-6{
  width: 500px;
  height: 500px;
  background-color: var(--yellow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--pink);
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.slider-6{
  appearance: none;
  -webkit-appearance: none;
  width: 500px;
  height: 10px;
  border-radius: 5px;  
  background: var(--yellow);
  outline: none;
  position: absolute;
  top: 50%;
  left: 5%;
}
.slider-6::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: var(--yellow);
  cursor: pointer;
}
.slider-6::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--yellow);
  cursor: pointer;
}

/* section 7 */

.fill-7{
  width: 100%;
  height: 100%;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-7{
  width: 40%;
  height: 60%;
  background-color: var(--yellow);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.display-7{
  grid-area: 1 / 4 / 1 / 1 ;
  background-color: var(--dark-blue);
  width: 99%;
  height: 90%;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--yellow);
  padding-right: 5px;
}
.button-7{
  width: 97%;
  height: 90%;
  border-radius: 1rem;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange);
  transition: 0.2s;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  user-select: none;
}
.button-7:hover{
  background-color: var(--pink);
}
.equal{
  width: 99%;
  grid-area: 7 / 2 / 8 / 4 ;
}

/* section 8 */

.fill-8{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
}
.coin-8{
  width: 400px;
  height: 400px;
  background-color: var(--yellow);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--dark);
  transition: 0.5s;
}
.button-8{
  width: 240px;
  height: 80px;
  border-radius: 1rem;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  transition: 0.2s;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  user-select: none;
  margin-top: 3rem;
}
.button-8:hover{
  background-color: var(--dark);
  color: var(--orange);
}

/* section 9 */

.fill-9{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark);
}
.input-9{
  width: 500px;
  height: 70px;
  background-color: var(--yellow);
  color: var(--dark);
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-9::placeholder{
  color: var(--dark);
}
.button-9{
  width: 240px;
  height: 80px;
  border-radius: 1rem;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  transition: 0.2s;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  user-select: none;
  margin-top: 3rem;
}
.button-9:hover{
  background-color: var(--orange);
}

/* section 10 */

.fill-10{
  width: 100%;
  height: 100%;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-10{
  width: 240px;
  height: 80px;
  background-color: var(--yellow);
  color: var(--pink);
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 3rem;
}
.input-10::placeholder{
  color: var(--pink);
}
.input-10::-webkit-outer-spin-button,
.input-10::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.input-10[type=number] {
  appearance: textfiled;
  -moz-appearance: textfield;
}
.button-10{
  width: 240px;
  height: 80px;
  border-radius: 1rem;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pink);
  transition: 0.2s;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  user-select: none;
  margin-bottom: 3rem;
}
.button-10:hover{
  background-color: var(--orange);
}
.display-10{
  width: 800px;
  height: 80px;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
}

/* section 11 */

.fill-11{
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display-11{
  width: 500px;
  height: 80px;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
  align-items: center;
}
.button-11{
  width: 240px;
  height: 80px;
  border-radius: 1rem;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--yellow);
  transition: 0.2s;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  user-select: none;
  margin-bottom: 3rem;
}
.button-11:hover{
  background-color: var(--pink);
}

/* section 12 */

.fill-12{
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-12{
  width: 500px;
  height: 70px;
  background-color: var(--yellow);
  color: var(--pink);
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.input-12::placeholder{
  color: var(--pink);
}
.button-12{
  width: 240px;
  height: 80px;
  border-radius: 1rem;
  background-color: var(--yellow);  
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pink);
  transition: 0.2s;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  user-select: none;
  margin-top: 3rem;
}
.button-12:hover{
  background-color: var(--orange);
}