/* all styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --pink: #f564a9ff;
    --dark: #251605;
    --orange: #BBBE64;
    --dark-blue: #643173ff;
    --yellow: #fde74cff;
}
body{
    display: flex;
    flex-direction: column;

}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section 1 */

.fill-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
}
.button-1{
    border-radius: 1rem;
    background-color: var(--yellow);
    height: 80px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}
.button-1:hover {
    background-color: var(--orange);
}
.button-text-1{
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* section 2 */

.fill-2{
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    position: relative;
}
.square-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background-color: var(--pink);
}
.slider-2{
    appearance: none;
    -webkit-appearance: none;
    width: 500px;
    height: 10px;
    border-radius: 5px;  
    background: var(--dark-blue);
    outline: none;
}
.slider-2::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: var(--dark-blue);
    cursor: pointer;
  }
  .slider-2::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--dark-blue);
    cursor: pointer;
  }
  .width-2 {
    position: absolute;
    top: calc(50% + 325px);
    left: 50%;
    transform: translateX(-50%);
  }
  .height-2{
    position: absolute;
    top: 50%;
    left: calc(50% - 325px);
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  /* section 3 */

  .fill-3{
    width: 100%;
    height: 100%;
    background-color: var(--pink);
    position: relative;
  }
  .display-3{
    position: absolute;
    top: 25%;
    left: 50%;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(-50%, -50%);
    color: var(--yellow);
  }
  .main-button-3{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    background-color: var(--yellow);
    color: var(--dark-blue);
    height: 80px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .main-button-3:hover{
    background-color: var(--orange);
  }
  .buttons-wraper-3{
    position: absolute;
    top: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .button-wraper-3{
    width: 360px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    user-select: none;
  }
  .button-wraper-3-on{
    opacity: 1;
    user-select: auto;
  }
  .multiplier-3{
    height: 80px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--yellow);
  }
  .multiplier-3-on::after{
    content: "x";
  }
.button-3{
    border-radius: 1rem;
    background-color: var(--yellow);
    color: var(--dark-blue);
    height: 80px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-3:hover{
    background-color: var(--orange);
}
.price-3{
    height: 80px;
    width: 60px;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--yellow);
}